/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html body {
  width: 100vw;
  height: 100vh;
}

/* menu toggle */
.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 20vh;
  top: 0;
  left: 0;
  background-color: #EFEBE9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.4em;
  color: grey;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #fff;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 1.6em;
}

.openbtn {
  font-size: 1.1em;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none
}

.openbtn:hover {
  background-color: #444;

}


.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

.second {
  height: 5vh;
  width: auto;
  border-radius: 5%;
}

.collapsible {
  background-color: #fff;
  color: black;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1em;
}

.active,
.collapsible:hover {
  background-color: lightgray;
}

.content {
  padding: 18px;
  display: none;
  text-align: justify overflow: hidden;
  background-color: #fff;
}